.DS_Store
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/PyEDCR.iml
/src_files/helper_functions/__pycache__/bn_fusion.cpython-311.pyc
config.py