.DS_Store
/.idea/
/.venv/
.ipynb_checkpoints/

src/PyEDCR/neural_fine_tuning/models/src_files/ml_decoder/__pycache__/ml_decoder.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/models/tresnet/layers/__pycache__/anti_aliasing.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/models/tresnet/layers/__pycache__/general_layers.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/models/tresnet/layers/__pycache__/avg_pool.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/models/tresnet/__pycache__/tresnet.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/models/tresnet/__pycache__/__init__.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/models/utils/__pycache__/factory.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/models/utils/__pycache__/__init__.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/models/__pycache__/__init__.cpython-311.pyc
src/PyEDCR/neural_fine_tuning/models/src_files/helper_functions/__pycache__/bn_fusion.cpython-311.pyc
src/PyEDCR/config.py

jupyter/
test_PYEDCR/
models/

data/ImageNet100/
data/ImageNet50/
data/OpenImage/
data/CIFAR10/
data/Military Vehicles/
data/~$WEO_Data_Sheet.xlsx

results/
combined_results/
binary_results/
credentials/